body{
  height: 100%;
 
}
  
  body {
      margin: 0px;
    }
  
  li{
  
  padding: 10px;
  list-style: none;
  font-size: 25px;
  display: inline;
  
  
  }
  
  .navbar-inverse {
   
    text-align: center;
}

.navbar {
   
    display: flex;
    border-radius: none;

}
